// Place all the styles related to the publics::places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.place{
  &__new{
    &--genre{
      margin-right:15px;
    }
  }
  &__image{
    width:150px;
    height:auto;
  }
  &__next-spot{
    padding:5px;
    border-bottom: 1px solid #dee2e6!important;
    &:first-child{
      border-top: 1px solid #dee2e6!important;
    }
  }
}