// Place all the styles related to the publics::search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-results{
  &__place{
    border-top:2px solid #4682b4;
    &--table{
      td{
        border-top:none;
        border-bottom:1px solid #dee2e6!important;
      }
    }
  }
  &__route{
    background-color:#e3f2fd;
    border-bottom:1px solid #dee2e6;
    &--table{
      display:none;
      td{
        border-top:none;
        border-bottom:1px solid #dee2e6!important;
      }
    }
  }
}