// Place all the styles related to the publics::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-profile{
  &__text{
    white-space: pre-wrap;
  }
  &__container{
    border:1px solid #dee2e6;
    padding:15px;
  }
}

#user{
  &__routes{
    border-bottom:2px solid #4682B4;
    border-radius: 0;
    &--content{
      display:block;
    }
  }
  &__wishes{
    border-radius: 0;
    &--content{
      display:none;
    }
  }
  &__wents{
    border-radius: 0;
    &--content{
      display:none;
    }
  }
}