doctype html
html
  head
    title
      | TsugiDoco
    = csrf_meta_tags
    = csp_meta_tag
    link[rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"]
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    header
      nav.navbar.navbar-expand-lg.navbar-light[style="background-color: #e3f2fd;"]
        ul.navbar-nav.mr-auto.nav-right
          li.nav-item
            = link_to root_path,class:"nav-link" do
              h2
                | Tsugi Doco
        ul.navbar-nav.ml-auto.nav-right
          -if user_signed_in?
            li.nav-item
              =link_to user_path(current_user) do
                = attachment_image_tag current_user,:profile_image,:fill,40,40,class:"rounded-circle"
          -else
            li.nav-item
              = link_to 'ログイン',new_user_session_path,class:"nav-link"
            li.nav-item
              = link_to '会員登録',new_user_registration_path,class:"nav-link"
      .container-fluid.main-image
        .row.justify-content-center
          .col-3.main-image__text
            div
              h4
                | 「次、どこ行こうか」
                br
                | をなくそう。
              br
              |  どんな所・順番で回ったかをシェアしよう。
              br
              |  デート、食べ歩き、はしご酒
              br
              |  あなたは街をどう歩きますか？ 
          .col-2
          .col-3.main-image__text
            div
              h4
                | さあ、はじめよう
              br
              = link_to 'ログイン',new_user_session_path,class:"nav-link btn btn-sm btn-outline-light"
              = link_to '会員登録',new_user_registration_path,class:"nav-link btn btn-sm btn-outline-light"
      nav.navbar.navbar-expand-lg.navbar-light.bg-light.justify-content-center
        ul.navbar-nav
          li.nav-item
            =link_to '場所一覧',places_path,class:"nav-link"
          li.nav-item
            =link_to 'ルート一覧',routes_path,class:"nav-link"
    .container
      .row.justify-content-md-center
        .col-11
          = yield
    script[src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"]
    script[src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"]
    script[src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"]
